.card {
  width: 100%;
  background-color: white;
  color: black;
  overflow: hidden;
}

.card.current {
  background-color: transparent;
  width: 60%;
  margin: 0 auto;
}

.card .card-img {
  margin: 0 auto;
  width: 68%;
  height: auto;
}

.card #card1 {
  fill: green;
  background-color: aqua;
}
